@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Lato", sans-serif;
}

body {
  font-family: var(--font-body);
}

.navbar {
  background-color: #ddff00 !important;
}

.footer-custom,
footer {
  background-color: #ddff00 !important;
}

.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}
